name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Login to Docker Hub  # to be able to access Docker Hardened Images (dhi.io)
        uses: docker/login-action@v3
        with:
          registry: dhi.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PAT }}

      - name: Build Docker image
        run: docker build -t package-version-check-mcp .

      - name: Run pytest
        run: |
          python -m venv .venv
          python -m venv .poetry
          ./.poetry/bin/pip install poetry
          ./.poetry/bin/poetry install --all-extras
          ./.poetry/bin/poetry run pytest
